.blue-background {
  width: 100%;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 200px;
  font-family: "Outfit", sans-serif;
  margin: 12.5rem 75rem 12.5rem 75rem;
  background-color: hsl(216, 50%, 16%);
  color: white;
  border-radius: 10px;
}

.card-image {
  width: 25px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-etherium {
  width: 170px;
  border-radius: 10px;
  position: relative;
  left: 57px;
  bottom: 15px;
}

.text-title {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  position: relative;
}

.card-text-content {
  margin: 30px;
}

.clock-icon {
  list-style: none;
}

.etherium-icon {
  list-style: none;
}

.eth-text {
  color: hsl(178, 100%, 50%);
  position: relative;
  right: 40px;
}

.clock-text {
  position: relative;
  left: 350px;
}

.list-items-container {
  display: flex;
  justify-content: flex-start;
}

.creation-avatar img {
  width: 40px;
}
